.registration
  .contents-wrapper
    .contents-wrapper__form
      .contents-wrapper__form__set
        = form_with model: @idea, local: true do |f|
          = render 'layouts/error_messages', model: f.object
          .contents-wrapper__form__set__information
            同じカテゴリー
            = f.collection_select(:name, @categories, :id, :name, { prompt: "選択してください" })
          .contents-wrapper__form__set__information
            アイデア
            = f.text_field :body
          .contents-wrapper__form__set__btn
            = f.submit '追加する', class: "profile-btn"